<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./css/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
		<p id="intro">Calculate your BMI (body mass index) by using the form below. Enter your weight and height and click the Calculate button to display your BMI result.</p>
		<form action="/" method="post" name="bmiform">
			<fieldset>
			<legend>Height and Weight</legend>
				<label for="pounds">Weight (Kg):</label>
				<input type="text" name="weight" id="pounds">
				<br>
				<label for="inches">Height (M):</label>
				<input type="text" name="height" id="inches">
				<br>
				<button type="submit" name="calculate" value="Calculate your BMI" >Calculate your BMI</button>
			</fieldset>
			<fieldset>
			<legend>BMI</legend>
				<label for="bmi" id="bmi_label">Your calculated BMI is:</label>
				<input type="text" name="bmi" id="bmi" readonly="readonly" , value=`<%= bmihtml %>`>
			</fieldset>
		</form>
	</div> 
</body>
</html>

